body {
	background-color: #f5f8fa;
}

ul {
	list-style-type: none;
}

h1 {
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin-bottom: 50px;
}

.btnSave {
	float: right;
	margin-top: 20px;
}

.btnDelete {
	float: right;
	margin-top: 20px;
	margin-right: 25px;
}